.Rproj.user
.DS_Store
.Rbuildignore
.Rhistory
Conflict_dyadic_configural.txt
Conflict_dyadic_intercept.txt
Conflict_dyadic_loading.txt
Measurement Parameters Table.doc
Satisfaction_Conflict_apim_configural.txt
Satisfaction_Conflict_apim_intercept.txt
Satisfaction_Conflict_apim_loading.txt
Satisfaction_dyadic_configural.txt
Satisfaction_dyadic_intercept.txt
Satisfaction_dyadic_loading.txt
Structural Parameters Table.doc
apim.png
dySEM.Rproj
output
scripts
Sandbox.R
Dyadic Curve of Circles sandbox.R
Dyadic Invariance RR Analyses.R
dvn3 sandbox.R
dyinvarRR.csv
dylong.xlsx
inst/doc
dev_R
dySEM Configuration.R
dySEM Twitter Blast.xlsx
~$dySEM Twitter Blast.xlsx
autotest example.R
scrapeCrossVar order image.pptx
scrapeVarCross
docs
dySEM_Configuration.R
dySEM_logo.png
cran-comments.md
CRAN-SUBMISSION
